@tailwind base;
@tailwind components;
@tailwind utilities;


.separator::after {
    content: '';
    display: inline-block;
    height: 20px;
    width: 2px;
    background-color: rgb(246, 40, 40);
    margin-left: 8px; 
  }
  
  @media (min-width: 640px) { /* Apply to small screens and up */
    .logo-container {
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  